<!DOCTYPE html>
<html>
  <head>
    <title>PhotoShareApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li>
        <%= link_to 'Home',  root_path %>
      </li>
    </ul>
    <% if user_signed_in? %>
      <ul>
        <li><%= link_to 'Profile',  web_profile_path %></li>
        <li><%= link_to 'Sign Out',  destroy_user_session_path, method: :delete %></li>
      </ul>
    <% else %>
      <ul>
        <li><%= link_to 'Sign In',  new_user_session_path %></li>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
